useDynLib(strum)
exportPattern("^[[:alpha:]]+")

import(pedigree, methods)
importFrom(Matrix, .bdiag)
importFrom(MASS, ginv)
importFrom(Rcpp, evalCpp)
importFrom(graph, ftM2graphNEL, subGraph)
importFrom(Rgraphviz, agopen, plot, toFile)

export(
    "createStrumData",
    "createStrumMarker",
    "createStrumModel",
    "createSimModel",
    "importHapmapData",
    "simulateStrumData",
    "strum"
)

exportClasses(
  "strumVirtualModel",
  "strumSimModel",
  "strumModel",
  "strumFittedModel",
  "strumMarker",
  "strumIBD",
  "strumData"
  )
